* {
    margin: 0px;
}

.form-row {

    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center; /*Центрирование по вертикали */
}

.modal-body {

    padding-left: 90px;
    padding-left: 90px;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center; /*Центрирование по вертикали */
}

#card-edit-from {
    width: 80%;
    align-items: center;
}

#card-add-from {

    padding-left: 340px;
}

label {
    font-weight: bold
}

#role-select {
    hight: 20px;
    weight: 60px;
}

