*{
    margin:0px;
}


.modal-body{

    align-items: center;
}
.card-edit {
    padding-right: 80px;
    padding-left: 80px;

}

label{
    font-weight: bold
}

#role-select{
    hight: 20px;
    weight: 60px;
}
