<div th:fragment="delete-form">


    <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="form-delete" id="formDelete">

            <form>
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">

                            <div id="card-edit-from" class="card-edit text-center">


                                <label for="idDelete">ID</label>
                                <input type="text" id="idDelete" class="form-control disable ">

                                <label for="nameDelete">First name</label>
                                <input type="text" id="nameDelete" class="form-control disable"
                                       placeholder="name">


                                <label for="surnameDelete">Last name</label>
                                <input type="text" id="surnameDelete" class="form-control disable"
                                       placeholder="surname">


                                <label for="ageDelete">Age</label>
                                <input type="text" id="ageDelete" class="form-control disable">


                                <label for="emailDelete">Email</label>
                                <input type="text" id="emailDelete" class="form-control disable"
                                       placeholder="email">


                                <label for="passwordDelete">Password</label>
                                <input type="text" id="passwordDelete" class="form-control disable"
                                       placeholder="password">


                                <label for="role-selectDelete">Role</label>
                                <select id="role-selectDelete" class="custom-select  mr-sm-2" multiple="multiple">
                                    <option value="ADMIN">ADMIN</option>
                                    <option value="USER">USER</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-outline-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
